<div class="container">
  <footer class="footer">
    <div class="columns">
      <div class="column c-1">
        <p class="">
          <i class="far fa-copyright"></i>{{ fecha }} {{ footer.nombre }}
        </p>
      </div>
      <div class="column c-2 has-text-grey-dark">
        <a [href]="footer.github" target="_blank" class="icon"
          ><i class="fab fa-github-square fa-2x"></i>
        </a>
        <a [href]="footer.linkedin" target="_blank" class="icon"
          ><i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a [href]="footer.instagram" target="_blank" class="icon"
          ><i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
